.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 40em;
    width: 100%;
    gap: 2em;
}

.chapter-content {
    width: 100%;
    font-size: 1.4em;
}