.item-images{
    width: 100%;
    height: 15em;
    border-radius: 15px;
}

.index-surround{
    width: 50%;
    height: 20px;
    border-radius: 5px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    align-items: center;
    color: black;
}

.index-surround div{
    color: black;
    font-size: small;
    font-weight: 900;
}

.index-surround p{
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: gray;
}

.flex-colled{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.text-limit {
    display: inline-block;
    max-width: 135px;
    /* tùy bạn */
    max-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    transition: 0.3s ease;
    color: white;
    cursor: pointer;
}

.text-limit_2 {
    display: inline-block;
    max-width: 100%;
    /* tùy bạn */
    max-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    transition: 0.3s ease;
    color: black;
    cursor: pointer;
}

.text-limit_2:hover {
    color: orange;
}