.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 40em;
    width: 100%;
    gap: 2em;
}

.chapter-content {
    line-height: 3em;
    width: 100%;
    font-size: 1.4em;
}

.chapter-choose{
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.chapter-choose:hover{
    transform: scale(1.04);
}

.chapter-scroll {
  max-height: 100vh;   /* chiều cao khung cuộn */
  overflow-y: auto;   
  overflow-x: hidden; /* bật thanh kéo dọc */
  padding-right: 5px;  /* chống che chữ */
}